{% extends "asiacar/base.html" %}
 
{% block content %}
{% if user.membership == 'R' %}
    <p>You will need to pay a pledge of {{ pledge }}. It will be refunded when you return the vehicle on time.</p>
    <p>Please indicate how you will pay below:</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Checkout"/>
    </form>

{% else %}
    <p>Please go <a href="{% url 'rentsuccess' %}">here</a> to finalize your rental.</p>
{% endif %}
{% endblock %}
