{% extends "asiacar/base.html" %}
 
{% block content %}

<p>Your member number is {{ user.username }}.</p>

{% if user.is_renting == True %}
    <p>Your rented vehicle is due back on {{ rental.time_end }}.</p>
    <p>
        {% if rental.time_returned > rental.time_end %}
            You're late!
            {% if user.membership == 'R' %}
                Your pledge will not be refunded.
            {% endif %}
        {% else %}
            You're on time!
            {% if user.membership == 'R' %}
                Your pledge will be refunded after you pay for the rental itself.
            {% endif %}
        {% endif %}
    </p>

    <p>The amount charged is {{ rental.price_total }}. Please indicate how you will pay below:</p>
    <form id="money_form" action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Checkout"/>
    </form>
{% else %}
    <p>You are not currently renting a vehicle. Go <a href="{% url 'rent' %}">here</a> to rent one!</p>
{% endif %}

{% endblock %}
